<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>soldout-invoice Invoice</title>
    <link href="/assets/images/favicon/icon.png" rel="icon">
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/assets/css/custom.css">
    <link rel="stylesheet" href="/assets/css/media-query.css">
    <style>
        .back-btn {
            position: fixed;
            top: 20px;
            right: 20px;
            background-color: #F8BF28;
            color: white;
            border: none;
            padding: 10px 20px;
            border-radius: 5px;
            font-size: 16px;
            cursor: pointer;
            z-index: 1000;
            text-decoration: none;
        }
    </style>
</head>
<body oncontextmenu="return false;">
    <a href="/sold" class="back-btn">Back</a>
    <div class="invoice_wrap hospital-invoice">
        <div class="invoice-container">
            <div class="invoice-content-wrap" id="download_section">
                <header class="invoice-header hospital-header bg-black" id="invo_header">
                    <div class="invoice-logo-content">
                        <div class="invoice-logo">
                            <a  class="logo"><img src="/assets/images/Invoice/logo.png" width="250" alt="this is a invoice logo"></a>
                        </div>
                    </div>
                </header>
                <section class="hospital-service-content" id="hospital_invoice">
                    <div class="container">
                        <div class="hospital-contact-wrap">
                            <div class="hospital-second">
                                <div class="hospital-green-box" style=" background-color: #12151C; width: 105%;">
                                    <div>
                                        
                                    <img src="assets/images/Invoice/congrats.png" alt="Congratulations">
                                        <!-- <h1 class="hospital-txt">Congratulations</h1> -->
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="invoice-owner-conte-wrap pt-40">
                            <div class="invo-pay-to-wrap width-30">
                                <div class="">
                                    <!-- <div class="invo-head-wrap invo-head-wrap-hospital">
                                        <div class="color-light-black font-md">Invoice No:</div>
                                        <div class="font-md-grey color-grey ">#<%= Date.now() %></div>
                                    </div> -->
                                    <div class="invo-head-wrap invo-head-wrap-hospital">
                                        <div class="color-light-black font-md">Invoice Date:</div>
                                        <div class="font-md-grey color-grey "><%= new Date().toLocaleDateString() %></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="payment-table-wrap hospital-table-wrap">
                            <p class="table-title "><b>Customer Details:</b></p>
                            <table class="invoice-table table-stripe4 theme-color">
                               <thead>
                                  <tr>
                                     <th>Name</th>
                                     <th>DOB</th>
                                     <th>Phone</th>
                                     <th>Email</th>
                                  </tr>
                               </thead>
                               <tbody>
                                  <tr>
                                     <td><%= soldData.customerName %></td>
                                     <td><%= soldData.customerDOB %></td>
                                     <td><%= soldData.customerPhone %></td>
                                     <td><%= soldData.customerEmail %></td>
                                  </tr>
                               </tbody>
                            </table>
                            <table class="invoice-table table-style1">
                               <tbody>
                                  <tr>
                                     <td colspan="3"><b>Address: </b><%= soldData.customerAddress %></td>
                                  </tr>
                               </tbody>
                            </table>
                            <p class="table-title "><b>Car Details:</b></p>
                            <table class="invoice-table table-style2 color_blue">
                               <thead>
                                  <tr>
                                     <th colspan="2">Car: <%= soldData.carName %></th>
                                     <th colspan="2">Date of Booking: <%= soldData.paymentDate %></th>
                                  </tr>
                               </thead>
                               <tbody>
                                  <tr>
                                     <td><b>Car Number</b></td>
                                     <td><%= soldData.carNumber %></td>
                                     <td><b>Miles</b></td>
                                     <td><%= soldData.carMiles %></td>
                                     
                                  </tr>
                                  <tr>
                                     <td><b>Model Year</b></td>
                                     <td><%= soldData.carYear %></td>
                                     <td><b>Category</b></td>
                                     <td><%= soldData.carCategory %></td>
                                  </tr>
                                  <tr>
                                    <td><b>Warranty</b></td>
                                     <td><%= soldData.carWarranty %></td>
                                  </tr>
                               </tbody>
                            </table>
                            <p class="table-title"><b>Payment Details:</b></p>
                            <table class="invoice-table table-stripe4 theme-color">
                               <thead>
                                  <tr>
                                     <th>Total Amount Paid</th>
                                     <th>Initial Amount Paid</th>
                                     <th>Road Tax</th>
                                     <th>Balance Due</th>
                                  </tr>
                               </thead>
                               <tbody>
                                  <tr>
                                     <td>£<%= soldData.paymentAmount %></td>
                                     <td>£<%= soldData.paidAmount %></td>
                                     <td>£<%= soldData.roadTax %></td>
                                     <td>£<%= soldData.balanceDue %></td>
                                  </tr>
                               </tbody>
                            </table>

                        </div>
                        <p class="invoice-note mt-3 "><b>NOTE: </b>
                            <ul>
                               <li>Car comes with 3 or 6 months of warranty for the Engine & Gearbox.</li>
                               <li>1 free service during the warranty period. </li>
                               <li>After successful booking, car will be holded for 2-3 days maximum.</li>
                               <li>Cancelation after successful booking is charged - 30% of deposit.</li>
                            </ul>
                         </p>
                         <img src="assets/images/Invoice/sold.png" width="120" height="120" alt="soldout-invoice" 
                                        style="position: absolute;
                                        right: 95px;
                                        bottom: 114px;
                                    ">
                         <p class="company-address style2 text-center" style="font-size: 12px;"><img src="assets/images/Invoice/favicon.png" width="40" height="40">
                            <br>
                            <b>Thanks for choosing Mallu Mechanics. We wish you a safe and happy motoring!🚗  </b><br>
                            Mallu Mechanics UK Yard,
                            7 Watson Ave, London E6 2BP, United Kingdom.
                         <br>
                         <a href="tel:+44 7909506380" style="color: #F8BF28;">+44 7909506380</a> | 
                         <a href="mailto:mallumechanicuk1@gmail.com" style="color: #F8BF28;">mallumechanicuk1@gmail.com</a> | 
                         <a href="https://mallumechanics.uk/" style="color: #F8BF28;">www.mallumechanics.uk</a><br>
                         </p>
                 </div>
                    </div>
                </section>
                <section class="agency-bottom-content d-print-none" id="agency_bottom">
                    <!--Print-download content start here -->
                    <div class="invo-buttons-wrap">
                        <div class="invo-print-btn invo-btns">
                            <a href="javascript:window.print()" class="print-btn">
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                                    <g clip-path="url(#clip0_10_61)">
                                        <path d="M17 17H19C19.5304 17 20.0391 16.7893 20.4142 16.4142C20.7893 16.0391 21 15.5304 21 15V11C21 10.4696 20.7893 9.96086 20.4142 9.58579C20.0391 9.21071 19.5304 9 19 9H5C4.46957 9 3.96086 9.21071 3.58579 9.58579C3.21071 9.96086 3 10.4696 3 11V15C3 15.5304 3.21071 16.0391 3.58579 16.4142C3.96086 16.7893 4.46957 17 5 17H7" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                        <path d="M17 9V5C17 4.46957 16.7893 3.96086 16.4142 3.58579C16.0391 3.21071 15.5304 3 15 3H9C8.46957 3 7.96086 3.21071 7.58579 3.58579C7.21071 3.96086 7 4.46957 7 5V9" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                        <path d="M7 15C7 14.4696 7.21071 13.9609 7.58579 13.5858C7.96086 13.2107 8.46957 13 9 13H15C15.5304 13 16.0391 13.2107 16.4142 13.5858C16.7893 13.9609 17 14.4696 17 15V19C17 19.5304 16.7893 20.0391 16.4142 20.4142C16.0391 20.7893 15.5304 21 15 21H9C8.46957 21 7.96086 20.7893 7.58579 20.4142C7.21071 20.0391 7 19.5304 7 19V15Z" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                    </g>
                                    <defs>
                                        <clipPath id="clip0_10_61">
                                            <rect width="24" height="24" fill="white"/>
                                        </clipPath>
                                    </defs>
                                </svg>
                                <span class="inter-700 medium-font">Print</span>
                            </a>
                        </div>
                        <div class="invo-down-btn invo-btns">
                            <a class="download-btn" id="download-btn">
                                <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><g clip-path="url(#clip0_5_246)">
                                    <path d="M4 17V19C4 19.5304 4.21071 20.0391 4.58579 20.4142C4.96086 20.7893 5.46957 21 6 21H18C18.5304 21 19.0391 20.7893 19.4142 20.4142C19.7893 20.0391 20 19.5304 20 19V17" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/><path d="M7 11L12 16L17 11" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/><path d="M12 4V16" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/></g><defs><clipPath id="clip0_5_246"><rect width="24" height="24" fill="white"/></clipPath></defs>
                                </svg>
                                <span class="inter-700 medium-font" >Download</span>
                            </a>
                        </div>
                        
                    </div>
                    <!--Print-download content end here -->
                    <!--Note content start -->
                    <!-- <div class="invo-note-wrap">
                        <div class="note-title">
                            <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><g clip-path="url(#clip0_8_240)"><path d="M14 3V7C14 7.26522 14.1054 7.51957 14.2929 7.70711C14.4804 7.89464 14.7348 8 15 8H19" stroke="#12151C" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/><path d="M17 21H7C6.46957 21 5.96086 20.7893 5.58579 20.4142C5.21071 20.0391 5 19.5304 5 19V5C5 4.46957 5.21071 3.96086 5.58579 3.58579C5.96086 3.21071 6.46957 3 7 3H14L19 8V19C19 19.5304 18.7893 20.0391 18.4142 20.4142C18.0391 20.7893 17.5304 21 17 21Z" stroke="#12151C" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/><path d="M9 7H10" stroke="#12151C" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/><path d="M9 13H15" stroke="#12151C" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/><path d="M13 17H15" stroke="#12151C" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/></g><defs><clipPath id="clip0_8_240"><rect width="24" height="24" fill="white"/>
                            </clipPath></defs></svg>
                            <span class="font-md color-light-black">Note:</span>
                        </div>
                        <h3 class="font-md-grey color-grey note-desc">This is computer generated receipt and does not require physical signature.</h3>
                    </div> -->
                    <!--Note content end -->
                </section>
            </div>
        </div>
    </div>
    <!-- Include jsPDF -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/2.3.1/jspdf.umd.min.js"></script>
<!-- Include html2pdf -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/html2pdf.js/0.9.3/html2pdf.bundle.min.js"></script>
<script>
 document.getElementById('download-btn').addEventListener('click', function() {
    const customerName = '<%= soldData.customerName %>'; // Replace this with the actual variable that holds the customer's name
    const element = document.getElementById('download_section');
    const fileName = `sold_out(${customerName}).pdf`;

    html2pdf().from(element).set({
        margin:       0,
        filename:     fileName,
        image:        { type: 'jpeg', quality: 0.98 },
        html2canvas:  { dpi: 192, letterRendering: true },
        jsPDF:        { unit: 'mm', format: 'a4', orientation: 'portrait' }
    }).save();
});




</script>
</body>
</html>
